.fonts-template{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(36, 33, 33);
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.close-fonts-template-btn{
  display: flex;
  position: absolute;
  right: 0px;
  top: -18px;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}

.brand-fonts-label {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.selected-font {
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: 10px;
}

.added-font {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 160px;
  cursor: pointer;
  border: 0px;
  border-radius: 3px;
  margin-left: 9px;
  margin: 10px 0px 10px 0px;
  border-radius: 3px;
  background-size: cover;
}

.add-font-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 43px;
  cursor: pointer;
  background-color: rgb(81, 81, 228);
  border: 0px;
  border-radius: 3px;
  font-family: "Anek Latin", sans-serif;
  font-size: 16px;
  color: #fff;
  background: url(../../../../images/pen.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.reset-fonts {
  display: flex;
  width: 10%;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

.reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  cursor: pointer;
  background-color: rgb(81, 81, 228);
  border: 0px;
  border-radius: 3px;
  text-align: center;
  transition: 0.3ms linear;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #fff;
}
